.aboutContainer {
	@include flexMom(row, wrap);
	h3 {
		font-size: 35px;
	}
	h4{
		@include fontStyle(35px,$green,400);
		text-transform: uppercase;
	}
}

.aboutInnerContainer {
	margin: 50px 0;
	margin-bottom: 10px;
	@include flexMom(row, wrap);
	img.wp-image-15 {
		max-width: 100%;
		transition: all 0.5s;
		@media (max-width:680px) {
			width: 100%;
		}
	}
}


.halfHeroAbout {
	@include flexMom(column, wrap);
	width:100%;
	height:80vh;
	background-size: cover;
	background-image: url(images/circuit1.jpg);
	background-attachment: fixed;
	overflow: hidden;
	position: relative;
	.overlay {
		padding:50px;
		text-align: left;
		background-color: rgba(0,0,0,0.8);
		box-shadow:$shadow;
		outline:$outline;
		width: 100%;
		position: absolute;
		bottom: 0;
		h2{
			@include fontStyle(80px,$white,700);
			margin: 10px;
		}
		h3{
			font-family: $rale;
			margin: 10px;
			@include fontStyle(40px,$green,400);
			text-transform: capitalize;
		}		
	}
}

.clearfix {
	display: flex;
	flex-wrap: wrap;
	a.group1 {
		flex: 1 0 250px;
		margin: 5px;
		img {
			display: block;
			margin: auto;
		}
	}
}

