/*
===============================
Footer
===============================
*/

footer {
	clear: both;
	background-color: $dg;
	color:$white;
	.container{
		@include flexMom(row,wrap);
		@include flexAlign(space-between, flex-start);
		.footer-widget-container {
			padding:20px;
			flex:1 0 auto;
			margin-right:20px;
			margin-top: 0px;
			h3.footer-widget-title { 
				color:$green;
			}
			&:last-child {
				margin-right:0px;
			}
		}
	}
}

