/*
===============================
Home
===============================
*/

.mainHome {
	.half-hero{
		height:50vh;
		background-image: url(images/stretch1.jpg);
		background-repeat: no-repeat;
		-webkit-background-size: 100vh;
		background-size: 100vh;
		background-attachment: fixed;
	}
}

.hero {
	@include flexMom(row, wrap);
	width:100%;
	height:100vh;
	background-image: url(images/kettlebell2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	.overlay {
		padding:50px;
		text-align: center;
		background-color: rgba(0,0,0,0.8);
		margin: auto;
		max-width: 700px;
		box-shadow:$shadow;
		outline:$outline;
		h1{
			@include fontStyle(80px,$white,700);
			margin: 10px;
		}
		h2{
			font-family: $rale;
			margin: 10px;
			@include fontStyle(40px,$green,400);
			text-transform: capitalize;
		}
	}
}

.homeContainer {
	
}

.homeWidgets{
	background-color: rgba(0,0,0,0.2);
	padding:20px;
	// outline:$outline;
	
	// box-shadow: $shadow;
	.container {
	@include flexMom(row,wrap);
	@include flexAlign(center,flex-start);
	.home-widget-container {
		width:100%;
		// background-color: $white;
		flex: 1 0 350px;
		margin-right:20px;
		padding:20px;
		// border-right:1px solid white;
		color:$dg;
		h2 {
			// color:$lime;
			margin-top: 0;
		}

		&:last-child {
			margin-right:0px;
			border-right:none;
		}
	}
	}
}