/*
===============================
Navigation
===============================
*/

header.mainHeader {
	width: 100%;
	@include flexMom(row,wrap);
	@include flexAlign(space-between,center);
	background: rgba(0,0,0,0.7);
	position: fixed;
	margin: 0 auto;
	padding: 5px 20px;
}

header.mainHeader h1 {
	flex:1 0 40%;
	margin: 0 auto;
	padding: 0px 20px;
	line-height: 60px;
}

ul.menu {
	flex: 1 0 auto;
	@include flexMom(row,wrap);
	@include flexAlign(flex-end,center);
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 10px;
			color: white;
		}
	}
}

