/*
===============================
Sidebar
===============================
*/

.sidebar {
	width: 30%;
	padding:20px;
	float: left;
	
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}

